# Data Sciense Tools and Echosystem

# In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
* List popular languages for Data Science.
* Some of the commonly used libraries used by Data Scientists.
* Data Science Tools and Ecosystem

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. SAS

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. NumPy
3. Pandas
4. Matplotlib
5. TensorFlow
6. Scikit-learn

|Data Science Tools|
|------------------|
|pandas            |
|Jupyter Notebooks |
|MLFlow            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author: Redwan Alobaidi